<!-- Just a sample dashboard to display all examples -->
<!-- <h1>1.</h1> -->
<!-- <app-ng-content></app-ng-content> -->
<!-- <h1>2.</h1> -->
<!-- <app-change-detection></app-change-detection> -->
<!-- <h1>3.</h1> -->
<!-- <app-template-variables></app-template-variables> -->
<!-- <h1>4.</h1> -->
<!-- <app-viewchild-contentchild></app-viewchild-contentchild> -->
<!-- <h1>5.</h1> -->
<!-- <app-after-render></app-after-render> -->
<!-- <h1>6.</h1> -->
<!-- <app-usage-of-dynamic></app-usage-of-dynamic> -->
<!-- <h1>7.</h1> -->
<!-- <app-abstract-class-usage></app-abstract-class-usage> -->
<!-- <h1>8.</h1> -->
<!-- <router-outlet></router-outlet> -->
<!-- <h1>9.</h1> -->
<!-- <app-di-providers></app-di-providers> -->
<!-- <h1>10.</h1> -->
<!-- <app-renderer2></app-renderer2> -->
<!-- <h1>11.</h1> -->
<!-- <app-defer></app-defer> -->
<!-- <h1>12.</h1> -->
<!-- <app-pipes></app-pipes> -->
<!-- <h1>13.</h1> -->
<!-- <app-svg></app-svg> -->
<!-- <h1>14.</h1> -->
<!-- <app-custom-validator-usage></app-custom-validator-usage> -->
<!-- <h1>15.</h1> -->
<!-- <app-dynamic-forms></app-dynamic-forms> -->
<h1>16.</h1>
<router-outlet></router-outlet>
<h1>17.</h1>
<app-language></app-language>
